<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserId" value="SA" />
		<add key="Password" value="Klimaatverandering1" />
		<add key="NameDB" value="TestDB" />
		<add key="Source" value="127.0.0.1" />
		<add key="ApplicationName" value="Climate Change Dashboard" />
	</appSettings>
</configuration>