<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DBUser" value="SA" />
        <add key="DBPassword" value="Klimaatverandering1" />
        <add key="DBName" value="TestDB" />
        <add key="DBSource" value="127.0.0.1" />
        <add key="ApplicationName" value="Camping, de camper" />
    </appSettings>
</configuration>
